#socket-test ul#messages,
#socket-test ul#broadcast-messages,
#socket-test ul#namespace-messages {
  height: 120px;
  background-color: lightcoral;
  overflow: scroll;
  padding: 1rem 2rem;
}

#socket-test ul#broadcast-messages {
  background-color: blueviolet;
}

#socket-test ul#namespace-messages {
  background-color: khaki;
}

#socket-test #messages li,
#socket-test #broadcast-messages li,
#socket-test #namespace-messages li {
  list-style-type: none;
  padding-bottom: 0.2rem;
}

#socket-test input#message {
  margin-right: 1rem;
}
